*{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    
}

.header{
    background-color:#008000;
    width: 100%;
    height: 100px;
}

.header img{
    padding: 15px;
    border: none;
    border-radius: 110px;
}

.header h1{
    font-size: 35px;
    margin-top: -80px;
    margin-left: 100px;
    font-weight: 600;
    color: #fff;
    text-shadow: 1px 1px  #ffff33;
}

.header h2{
    font-size: 20px;
    font-weight: 600;
    margin-left: 100px;
    color: #fff;
    text-shadow: 0.5px 0.5px  #ffff33;
}

.header h3{
    float: right;
    margin-top: -85px;
    justify-content: space-between;
}

.registrationform{
    padding: 20px;
    text-align: center;
    border-radius: 100px;
}

.registrationform h1{
    margin: 10px;
    padding: 10px;
    font-weight: 800;
    font-size: 35px;
    text-shadow: 1px 1px #ffff33;
}

.inputBox span{
    font-size: 13px;
    font-weight: 1000;
    position: absolute;
    margin-top: -5px;
    margin-left: 15px;
    text-shadow: 0.5px 0.5px #b3ffb3;
}


.inputBox input{
    width: 400px;
    height: 35px;
    font-size: 18px;
    font-weight: 600;
    margin: 15px;
    padding-left: 10px;
    border: none;
    background-color: #b3ffb3;
    border-radius: 10px;
    box-shadow: 1px 2px#00e600;
}

.inputBox select{
    width: 410px;
    height: 35px;
    font-size: 18px;
    font-weight: 600;
    margin: 15px;
    padding-left: 10px;
    border: none;
    background-color: #b3ffb3;
    border-radius: 10px;
    box-shadow: 1px 2px#00e600;
}

input[type="submit"]
{
    text-align: center;
	padding: 10px 25px;
	cursor: pointer;
	border-radius: 10px;
    border: 3px solid #008000;
    background-color: #b3ffb3;
	font-weight: 1000;
    font-size: 15px;
	width: 200px;
	margin-top: 25px;
    margin-bottom: 50px;
}

input[type="submit"]:active 
{
	opacity: 0.8;
}

.footer{
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: #4d4d4d;
    border-top: 5px solid #ffff1a;
}

.footer p{
    padding-top: 20px;
    font-size: 15px;
    font-weight: 800;
    color: white;
}

.icons .fab{
    color: blue;
    cursor: pointer;
    margin-left: 10px;
}



